# Week 3
In this week you'll deepen your understanding of the python pandas library by learning how to merge DataFrames, generate summary tables, group data into logical pieces, and manipulate dates. We'll also refresh your understanding of scales of data, and discuss issues with creating metrics for analysis. The week ends with a more significant programming assignment.

### Learning Objectives
* Apply merge and join on DataFrames
* Employ slicing and indexing on DataFrames
* Analyze data with groupby and understand categorical variables
* Produce the entire process of data source to elucidation
* Examine the data by manipulating, cutting, and applying aggregate functions to DataFrames

In [63]:
# IDIOMS of PANDAS

import pandas as pd
import numpy as np

df = pd.DataFrame()

df['Product'] = pd.Series(['Book', 'Pencil', 'Eraser', 'Work book', 'Sketch'])
df['Quantity'] = pd.Series([1, 0, 3, 0, 1])
df['Price'] = pd.Series([12, 20, 0, 0, 20])
df['Old_Price'] = pd.Series([13, 10, 40, 30, 0])


x = df[df['Quantity'] == 0].index

df.drop(x, axis=0)

  Product  Quantity  Price  Old_Price
0    Book         1     12         13
2  Eraser         3      0         40
4  Sketch         1     20          0

In [64]:
# Pandorable or Idioms of Pandas
# high efficient, readable problem specific solution
print((df
       .set_index('Quantity')
       .drop(labels=1, axis=0)
       .rename(columns={'Product':'Product ID'})
       .reset_index()
))

# Above process resets the index values.  Below process preserves the index values.

# Target is to remove rows where Quantity = 0 and Rename Column from 'Weight': 'Weight (oz.)'
print(df.drop(df[df['Quantity'] == 0].index).rename(columns={'Weight': 'Weight (oz.)'}))

# DROP method removes rows by taking index values as input and axis as 0 for rows. This preserves the original index values

   Quantity Product ID  Price  Old_Price
0         0     Pencil     20         10
1         3     Eraser      0         40
2         0  Work book      0         30
  Product  Quantity  Price  Old_Price
0    Book         1     12         13
2  Eraser         3      0         40
4  Sketch         1     20          0

In [ ]:
# 2nd Idiom : ApplyMap : method=Dataframe.apply

# two methods : apply, applymap
# df.apply : for both series and data frames


def min_max(row):
    data = row[['Product', 'Price', 'Old_Price']]
    
    return pd.Series({'min' : np.min(data), 'max' : np.max(data)})

df.apply(min_max , axis=1)
# Every time a row goes as input to the called method. Which means a method is applied on every row/cell of the data frame

## Assignment practice

In [12]:
import numpy as np
import pandas as pd

In [45]:
def answer_one():
    # load energy data
    energy = pd.read_excel('Energy Indicators.xls', skiprows=17, skipfooter=38)
    energy = energy[['Unnamed: 2', 'Petajoules', 'Gigajoules', '%']]
    energy.rename(columns={'Unnamed: 2' : 'Country', 'Petajoules' : 'Energy Supply', 'Gigajoules' : 'Energy Supply per Capita', '%' : '% Renewable'}, inplace=True)
    energy.replace(to_replace='...', value=np.nan, inplace=True)
    energy.replace({'China, Hong Kong Special Administrative Region':'Hong Kong','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','Republic of Korea':'South Korea','United States of America':'United States','Iran (Islamic Republic of)':'Iran'}, regex=True, inplace=True)
    energy.replace(to_replace=['[0-9]*', '\(.*\)', ',\s.*', '\s$', '^\s'], value="", regex=True, inplace=True)

    energy['Energy Supply'] = energy['Energy Supply']*1000000
    
    # GDP data
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP.rename({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"})
    
    # cimEn
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    
    # Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). 
    # Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank'
    # (Rank 1 through 15).

    # The index of this DataFrame should be the name of the country, and the columns should be 
    # ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 
    # 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', 
    # '2013', '2014', '2015'].

    req_cols = ['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    GDP = GDP[req_cols]
    # print(GDP.keys())

    req_cols = ['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']
    ScimEn = ScimEn[req_cols]

    # print(ScimEn.keys())

    req_cols = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy = energy[req_cols]
    # print(energy.keys())

    # Joining datasets
    # pd.merge(left=ScimEn, right=GDP, left_on='Country', right_on='Country Name', how='inner')
    m1 = pd.merge(energy, GDP, how='inner', left_on='Country', right_on='Country Name')
    final = pd.merge(m1, ScimEn, how='inner', on='Country')

    final = final.set_index('Rank').sort_index().head(15)
        
    return final

In [58]:
energy, GDP, ScimEn = answer_one()

In [59]:
final

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Name,2006,2007,2008,2009,2010,...,2012,2013,2014,2015,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Rank,,,,,,,,,,,,,,,,,,,,,
1,China,1.271910e+11,93.0,19.75491,China,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,...,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13,193483,192270,1355524,927458,7.01,196
1,China,4.700000e+07,83.0,0.00000,China,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,...,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13,193483,192270,1355524,927458,7.01,196
2,United States,9.083800e+10,286.0,11.57098,United States,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,...,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13,143130,139924,1551044,530169,10.84,301
3,Japan,1.898400e+10,149.0,10.23282,Japan,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,...,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12,41188,40775,357829,93375,8.69,166
4,United Kingdom,7.920000e+09,124.0,10.60047,United Kingdom,2.697152e+12,3.084118e+12,2.904037e+12,2.394786e+12,2.452900e+12,...,2.676605e+12,2.753565e+12,3.034729e+12,2.896421e+12,33293,32300,405816,77019,12.19,185
5,India,3.319500e+10,26.0,14.96908,India,9.402599e+11,1.216735e+12,1.198895e+12,1.341887e+12,1.675615e+12,...,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,32064,31167,268746,87658,8.38,153
6,Germany,1.326100e+10,165.0,17.90153,Germany,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,...,3.543984e+12,3.752514e+12,3.898727e+12,3.381389e+12,27966,27370,278237,59495,9.95,166
7,Russian Federation,3.070900e+10,214.0,17.28868,Russian Federation,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,...,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12,26435,26196,68424,29544,2.59,75
8,Canada,1.043100e+10,296.0,61.94543,Canada,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613543e+12,...,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12,26148,25571,395467,74112,15.12,193
9,France,1.059700e+10,166.0,17.02028,France,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,...,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,19696,19214,238639,48462,12.12,152
10,Italy,6.530000e+09,109.0,33.66723,Italy,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,...,2.072823e+12,2.130491e+12,2.151733e+12,1.832273e+12,18773,17987,221652,54282,11.81,135
13,Brazil,1.214900e+10,59.0,69.64803,Brazil,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,...,2.465189e+12,2.472806e+12,2.455994e+12,1.802214e+12,15332,15132,118483,28818,7.73,109
14,Australia,5.386000e+09,231.0,11.81081,Australia,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,...,1.546152e+12,1.576184e+12,1.467484e+12,1.351520e+12,14907,14564,196567,34134,13.19,143
15,Spain,4.923000e+09,106.0,37.96859,Spain,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,...,1.336019e+12,1.361854e+12,1.376911e+12,1.199084e+12,14204,13916,233955,42632,16.47,149
17,Turkey,4.897000e+09,64.0,28.53669,Turkey,5.524869e+11,6.757701e+11,7.643357e+11,6.446399e+11,7.719018e+11,...,8.739822e+11,9.505794e+11,9.341859e+11,8.597969e+11,8968,8707,157567,33600,17.57,136